<div class="nav">
    <div class="nav-part2">
      <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Art_Institute_of_Chicago_logo.svg/640px-Art_Institute_of_Chicago_logo.svg.png" class="logo"/>
      <p style="padding-top: 15px; font-size:2.2vw; font-weight: 600; "><a routerLink="" style="text-decoration: none; color :grey;">ART INSTITUTE OF CHICAGO</a></p>
    </div>
    <div class="nav-part3">
      <p class="collection" style="padding-top: 15px;"><a routerLink="/dashboard" style="text-decoration: none; color:black">Collections</a></p>
      <p class="wishlist"  style="padding-top: 15px;"><a routerLink="/wishlist" style="text-decoration: none; color:black">Wishlist</a></p>
    </div>
  </div>