<app-search></app-search>

  <div class="middle">
    <img src="https://artic-web.imgix.net/3dd18748-2417-464c-8e01-424af4418e34/_42A62871.jpg?rect=0%2C3745%2C4136%2C2338&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1500&h=848" alt="">
    <!-- <img src="https://artic-web.imgix.net/null6a56dc80-1ff9-47f8-95a0-59e8bc63548d/Matta-Earth-Is-a-Man.jpg?rect=0%2C246%2C2989%2C1680&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1500&h=843" alt=""> -->
    <p>Welcome to our Art Collections of Art Institute of Chicago! Here you will find a diverse range of beautiful and thought-provoking pieces by talented artists from all around the world. Our collection includes contemporary, traditional, and abstract works that will leave you captivated. Explore our galleries and discover the perfect art piece that will complement your home or office. We are dedicated to providing you with a seamless browsing experience and exceptional customer service. Thank you for choosing us as your go-to destination for art. Enjoy!
      Our Art Collections feature works created from a variety of mediums such as paint, charcoal, ceramics, photography, and more. Our team of art enthusiasts has carefully curated this collection to showcase a wide range of styles that are both visually stunning and meaningful. Whether you are looking for a statement piece for your living room or a unique gift for a special occasion, you are sure to find something that speaks to you. So take your time, browse our collections, and immerse yourself in the beauty and creativity of our art.
    </p>
  </div>

